@import url("./assets/css/reset.css");
.videoabsolute {
    position: absolute;
    margin-top: 20%;
    margin-left: 15%;
    color: white;
}

#tituloportada {
    color: white;
    font-size: 3em;
    justify-content: center;
}

#subtituloportada {
    color: whitesmoke;
    font-size: 2em;
}


/*devices (landscape phones, 576px and up)*/

@media (min-width: 300px) {
    .videoabsolute {
        position: absolute;
        margin-top: 25%;
        margin-left: 10%;
        color: white;
    }
    #tituloportada {
        font-size: 200%;
    }
    #subtituloportada {
        font-size: 130%;
    }
}


/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .videoabsolute {
        position: absolute;
        margin-top: 25%;
        margin-left: 10%;
        color: white;
    }
    #tituloportada {
        font-size: 350%;
    }
    #subtituloportada {
        font-size: 250%;
    }
}


/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    .videoabsolute {
        position: absolute;
        margin-top: 20%;
        margin-left: 10%;
        color: white;
    }
    #tituloportada {
        font-size: 500%;
    }
    #subtituloportada {
        font-size: 400%;
    }
}

.cover-container {
    position: relative;
}


/* stylo del navbar */

.navbar-brand {
    width: 50px;
}

.navbar {
    background-color: #073549;
}

.navbarscroll {
    background-color: #272727;
    transition: 1s;
}

video {
    max-width: 100%;
    height: auto;
}

.videorelative {
    position: relative;
}

.jumbotron {
    margin: 100px auto;
}

.dropdown-menu {
    background-color: #073549;
    transition: 1s;
    padding-left: 30%;
    border: 0;
}

.dropdown-scroll {
    background-color: #272727;
    transition: 1s;
    padding-left: 30%;
    border: 0;
}

.dropdown-menu a {
    color: white;
}


/* stylo del form login */

.social {
    margin: 100px auto;
}

.sociallinks {
    padding-bottom: 3%;
    padding-top: 3%;
    margin: 0 auto;
    width: 100%;
}

.titulform {
    padding-top: 3%;
    text-align: center;
    position: relative;
}

.form-check-input {
    margin-left: 10%;
}

.form-check {
    text-align: center;
}

.formremember a {
    text-align: center;
    font-size: 10pt;
    padding-bottom: 6%;
}

.row {
    margin-right: 0;
    margin-left: 0;
}