/* stylo del navbar */
.navbar-brand {
    width:50px;
}
.navbar {
    background-color: #073549;
}
.navbarscroll {
    background-color: #272727;
    transition: 1s;
}
video { 
        max-width: 100%;
        height: auto;
  }

.jumbotron {
      margin: 100px auto;
  }

  .dropdown-menu {
    background-color: #073549;
    transition: 1s;
    padding-left: 30%;
    border: 0;
  }

  .dropdown-scroll {
    background-color: #272727;
    transition: 1s;
    padding-left: 30%;
    border: 0;
  }

  .dropdown-menu a {
    color: white;
  }
/* stylo del form login */
.social {
    margin: 100px auto;
}

.sociallinks {
    padding-bottom: 3%;
    padding-top: 3%;
    margin: 0 auto;
    width: 100%;
}

.titulform {
    padding-top: 3%;
    text-align: center;
}

.form-check-input {
    margin-left: 10%;
}

.form-check {
    text-align: center;
}

.formremember a {
    text-align: center;
    font-size: 10pt;
    padding-bottom: 6%;
}

footer {
    background-color: #073549;
    width: 100%;
    display: flex;
    padding: 10px;
}

