@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body { margin: 0;
      padding: 0;
      background-color: rgba(226,226,226,.84);
}

header {
    background-color: #073549;
    display: block;
    text-align: center;
}

#div_first{ display: block;

}

#div_second{
  width:100%;

}

#div_1{
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 49%;
}

#div_2{
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 49%;
  margin-left: 12px;
  margin-right: auto;
  margin-top: 40px;

}


#div_2>input{
  display: block;
  margin-bottom: 15px;
}

#div_third{ clear: both;
          width: 100%;

}

#div_third> input{
  display: block;
  margin-bottom: 15px;

}

#div_button{
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 30px;

}


textarea{ width: 400px;
          height: 500px;

}

button{ width: 300px;
        height: 300px;
        margin-bottom: 15px;
}

form{ padding: 10px;
}

input{
  width: 289px;
  height: 30px;
  text-align: center;
}

label {display: block;
      padding-top: 10px;
      padding-bottom:10px;

}

section{ background-color: rgba(226,226,226,.84);
    display: block;
    padding: 10px;


}
section {
    width: 850px;
    margin: 0 auto;
    border: 1px solid black;
    background: white;

}

#titulo{
  margin: 0 auto;
  background-image: url(img/ofertas.png);
  height: 500px;
  color: white;
  background-repeat: no-repeat;

#footerlist {
    display: block;
    width:25%;
}

#footerlist ul {
    display: inline-block;
    padding-right: 5%;
    list-style-type: none;
    text-align: left;
    margin-top: 3px;
    padding-left: 0px;
}

#footerlist li {
    display: inline-block;
    text-align: center;
}

#social {
    display: block;
    width: 25%;
}

#social ul {
    width: 100%;
    display: inline-block;
    padding-right: 5%;
    padding-left: 0px;
    list-style-type: none;
    text-align: center;
    margin-top: 3px;
}

#social li {
    display: inline-block;
    text-align:right;
}

#copyright {
   width: 48%;
   font-size: 9pt;
   color: white;
   font-weight: lighter;
   display: block;
   text-align: left;
   padding-left: 20px;
   }

#geekjobs_footer {
        margin-left: 4px;
        width: 50px;
        height: 30px;
    }
