* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1em;
    line-height: 1.5em;
    background-color: rgb(226, 226, 226);
}

header {
    height: 108px;
    display: flex;
    background: #03A9F4;
    padding-bottom: 6px;
    text-align: center;
    #logo {
        flex: 1;
        & img {
            width: 125px;
            height: 125px;
            margin-left: 350px;
        }
    }
    .menu {
        margin: auto 0;
        flex: 2;
        margin-right: 100px;
        & ul li {
            display: inline-block;
            & .active {
                border-bottom: 3px dotted white;
            }
            & a {
                padding: 5px 10px;
                text-decoration: none;
                font-size: 1.5em;
                color: white;
                &:hover {
                    color: orange;
                    background-color: white;
                }
            }
        }
    }
}

section {
    width: 900px;
    margin: 0 auto;
    border: 1px solid black;
    background: white;
    &section .perfil {
        width: 100%;
        margin: 0 auto;
        &img {
            width: 100%;
            height: 250px;
        }
    }
    &div {
        padding: 0 15px;
    }
}

.cont {
    margin: 10px;
}

.perfil .persona {
    width: 150px;
    height: 150px;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: -300px;
    margin-left: 50px;
}

.title {
    font-size: 2em;
    margin-bottom: 1em;
    margin-left: 60px;
    align-content: center;
    font-weight: bold;
}

.cont {
    padding: 10px 5px;
    clear: both;
    & h3 {
        font-size: 1.2em;
        font-weight: bold;
    }
}

.mm ul li {
    list-style: none;
    display: inline-block;
    float: left;
    border: 5px solid transparent;
    & a {
        display: block;
        min-width: 100px;
        text-align: center;
        padding: 10px 15px;
        margin: 0 10px 0 0;
        font-size: 1.3em;
        text-decoration: none;
        color: #fff;
    }
}

.b {
    background: #3498db;
    &:hover {
        background-color: #017dd0;
        text-shadow: #005289 2px -2px 1px;
    }
    &:active {
        background-color: #3498db;
    }
}

.r {
    background: #ff3800;
    &:hover {
        background-color: red;
        text-shadow: #8f1f00 2px -2px 1px;
    }
    &:active {
        background-color: #ff3800;
    }
}

.g {
    background: #03dd00;
    &:hover {
        background-color: #27c901;
        text-shadow: #136300 2px -2px 1px;
    }
    &:active {
        background-color: #03dd00;
    }
}

.o {
    background: #ffbf00;
    &:hover {
        background-color: orange;
        text-shadow: #a17900 2px -2px 1px;
    }
    &:active {
        background-color: #ffbf00;
    }
}

.m {
    background: #ff00ca;
    &:hover {
        background-color: #bf0098;
        text-shadow: #8b016f 2px -2px 1px;
    }
    &:active {
        background-color: #ff00ca;
    }
}

.p {
    background: #b231fd;
    &:hover {
        background-color: #a100ff;
        text-shadow: #400065 2px -2px 1px;
    }
    &:active {
        background-color: #b231fd;
    }
}

#contact {
    padding: 30px 10px;
    width: 700px;
    margin: 0 auto;
    h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    label {
        width: 90%;
        display: block;
        padding: 5px;
        margin-top: 10px;
    }
    input {
        width: 90%;
        display: block;
        padding: 5px;
        &[type="submit"] {
            width: 45%;
            padding: 10px;
            background: #03A9F4;
            border: 0 solid transparent;
            margin-top: 15px;
            font-size: 1.2em;
            color: white;
        }
        /*&[type="submit"]:hover {
            box-shadow: 1px 2px 10px 0px rgba(3,168,244,0.75);
        }*/
    }
    textarea {
        width: 90%;
        padding: 5px;
    }
}

footer {
    background-color: #073549;
    width: 100%;
    display: flex;
    padding: 10px;
}

#footerlist {
    width: 25%;
    ul {
        display: inline-block;
        padding-right: 5%;
        list-style-type: none;
        text-align: left;
        margin-top: 3px;
        padding-left: 0px;
    }
}

#social {
    width: 25%;
    & ul {
        width: 100%;
        padding-right: 5%;
        padding-left: 0px;
        list-style-type: none;
        text-align: center;
        margin-top: 3px;
    }
    & li {
        display: inline-block;
        text-align: right;
    }
}

#copyright {
    width: 48%;
    font-size: 9pt;
    color: white;
    font-weight: lighter;
    display: block;
    text-align: left;
    padding-left: 20px;
}