

body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

#logo {
    display: block;
    background: #03A9F4;
    font-size: 40pt;
    width: 100%;
    padding: 40px 60px;
}

#logo h1 {
    color: white;
    font-size: 40pt;
    width: 350px;
}

.title {
    font-size: 20pt;
    color: #000;
}