@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
    margin: 0;
    padding: 0;
    background-color: rgba(226, 226, 226, .84);
    font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  background: #073549;

  }

#tituloJoan {
    background-image: url(../img/ofertas.png);
    color: white;
    background-repeat: no-repeat;
 
}

#dorm{ color: white;


}

#jobDescription{
    height: 300px;

}

.container{
    background-color: white;
}

.form-row mt-5{
    background-color: white;
}

label.error{
    color: red;
}