* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif; }

/*Header*/

header {
  display: flex;
  background: #03A9F4;
  padding: 10px;
  text-align: center; }
  header #logo {
    flex: 2; }
    header #logo img {
      width: 125px;
      margin-left: 350px; }
  header .menu {
    margin: auto 0;
    flex: 1; }
    header .menu ul li {
      display: inline-block;
      margin: 5px 0 0 0;
      border: 2px dotted transparent;
      padding: 5px; }
        header .menu ul li a {
        padding: 5px 10px;
        text-decoration: none;
        font-size: 1.3em;
        color: white;
        font-weight: lighter; }
        header .menu ul li a:hover {
          color: #073539;
          transition: color 200ms linear; }

    
/* Estilo de los articulos de la seccionjosep*/

article {
	padding: 0;
	margin: 0;     }

/* Estilo articulo 1 */

.buttonjosep{
	border: 0;
	background: #03A9F4;
	border-radius: 4px;
	box-shadow: 0 5px 0 #006599;
	color: #FFFFFF;
	cursor: pointer;
	margin: 0;
	outline: 0;
	padding: 12px 20px;
	transition: all .1s linear;
	width: 330px;
	height: 45px;
  font-size: 15px;      }

.buttonjosep:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
  font-size: 15px;       }

.article1josep{
	display: block;
	background-image: url(../img/rubia.png);
	height: 700px;
	color: white;
	text-align: center;        }

.article1josep div p{
    font-size: 25pt;
    padding-top: 16px;
}

.article1josep div:last-child{
    margin-top: 32px;
}

.article1josep h1{
	margin: 0px;
	padding-top: 150px;
    font-size: 60pt;
    font-weight: bold;     }

.article1josep>img{
	width: 40px;       }

/*Estilo articulo 3*/

.article3josep{
	background-color: rgba(226,226,226,.84);       }

.article3josep>div{
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
	background-color: white;
	padding-bottom: 32px;	     }

.article3josep div input{
	width: 289px;
	height: 30px;
	margin-top: 15px;
	text-align: center;        }

.article3josep h2{
	margin: 0;
	padding-top:32px;      }

.article3josep form div:first-of-type{
	display: inline-grid;      }

.article3josep form>div:nth-last-of-type(2){
	margin-top: 32px;      }

.article3josep form div input:only-child{
	margin-top: 32px;
	height: 30px;      }

.article3josep form div>div{
		display: inline-grid;
		margin-top: 16px;}

/*Button Enviar*/

#enviar {
    background-color: #FFF;
    font-size: 10pt;
    font-weight: regular;
    color: #009EE3;         }

#enviar:hover {
    background-color: #009EE3;
    color: white;       }

#enviar:active {
    background-color: #009EE3;
    color: #fff;        }


/*FOOTER*/

footer {
  background-color: #073549;
  width: 100%;
  display: flex;
  padding: 10px;        }

#footerlist {
  width: 25%;       }

#footerlist ul {
  display: inline-block;
  padding-right: 5%;
  list-style-type: none;
  text-align: left;
  margin-top: 3px;
  padding-left: 0px;        }

#social {
  width: 25%;       }

#social ul {
  width: 100%;
  padding-right: 5%;
  padding-left: 0px;
  list-style-type: none;
  text-align: center;
  margin-top: 3px;      }

#social li {
  display: inline-block;
  text-align: right;        }

#copyright {
  width: 48%;
  font-size: 9pt;
  color: white;
  font-weight: lighter;
  display: block;
  text-align: left;
  padding-left: 20px;       }

@media (max-width: ) {
  
}