/* NAVBAR */
.navbar-brand {
  width:50px;
}
.navbar {
  background-color: #073549;
}
.navbarscroll {
  background-color: #272727;
  transition: 1s;
}

/* EFECTO DROPDOWN */
.dropdown-menu {
  background-color: #073549;
  transition: 1s;
  padding-left: 30%;
  border: 0;
}

.dropdown-scroll {
  background-color: #272727;
  transition: 1s;
  padding-left: 30%;
  border: 0;
}

.dropdown-menu a {
  color: white;
}