@import url("./reset.css");
@import url("./navbar.css");
@import url("./botones.css");
@import url("./footer.css");
html {
    font-size: 16px;
}

body {
    font-size: 1em;
    line-height: 1.5em;
    background-color: #e2e2e2;
}

section {
    width: 900px;
    margin: 100px auto 40px auto;
    background: white;
    border-radius: 6px;
}


/* =================================================== 
BANNER DE PERFIL / FOTO DE PERFIL
=================================================== */

.profiles_banner {
    background: url('../img/fondoUsuario.jpg') #262626;
    background-size: cover;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.05);
    min-height: 250px;
    height: 300px;
    max-height: 400px;
    display: flex;
    align-items: flex-end;
    /* Alinea la foto de perfil debajo */
}

.profiles_banner .profile-info-block {
    padding-right: 8px;
    background-image: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    color: #FFF;
    padding: 20px;
}

.profiles_banner .profile-info-block .profile-image {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background: url('../img/persona.png');
    background-size: 160px 160px;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.3);
    border: 4px solid #FFF;
    margin-bottom: 5px;
    overflow: hidden;
}

.profiles_banner .profile-info-block .profile-name h1 {
    font-size: 22px;
}

.profiles_banner .profile-info-block .profile-name h1 a {
    color: white;
    text-decoration: none;
}


/* =================================================== */

#cont {
    margin: 40px 20px;
    padding-bottom: 40px;
}

#cont div {
    margin-top: 10px;
}

#contact {
    padding: 30px 10px;
    margin: 40px auto;
}

#contact h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#contact label {
    width: 90%;
    display: block;
    padding: 5px;
    margin-top: 10px;
}

#contact input {
    width: 90%;
    display: block;
    padding: 5px;
    /*&[type="submit"]:hover {
        box-shadow: 1px 2px 10px 0px rgba(3,168,244,0.75);
    }*/
}

#contact input[type="submit"] {
    width: 45%;
    padding: 10px;
    background: #03A9F4;
    border: 0 solid transparent;
    margin-top: 15px;
    font-size: 1.2em;
    color: white;
    border-radius: 25px;
}

#contact textarea {
    width: 90%;
    padding: 5px;
}

@media (max-width: 576px) {
    .mm ul li a {
        display: inline;
        display: block;
        min-width: 100px;
        margin-right: 5px;
        font-size: 1.1rem;
    }
}