  
header {
    background-color: #03A9F4;
    display: block;
    text-align: center;
    height: 108px;
    padding-bottom: 6px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: #073549;
    position: relative;
    margin-bottom: 0;
    height: 35px;
    overflow: hidden;
    width:100%;
    display: flex;
}

article {
    margin-bottom: 80px;
}
video {
    width: 100%;
    border: 0px;
    padding: 0px;
    background-color: black;
}

article {
    width: 100%;
}

button {
    width: 300px;
    height: 50px;
}

input {
    width: 289px;
    height: 30px;
}

a {
    text-decoration: none;
}

.titulo {
    font-size: 15pt;
    color: #3C3C3B;
    font-weight: lighter;
}

.minititulo {
    font-size: 8pt;
    color: #B2B2B1;
    font-weight: lighter;
}
.divcenter {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.aligncenter {
    content: center;
    padding-bottom: 10px;
}

.divvideo {
    display: block;
    height: 290px;
    overflow: hidden;
    margin-bottom: 70px;
}

#linkedin {
    background: url("../img/linkedinicon.png") no-repeat;
    background-position: 18em center;
    background-size: 40px;
    background-color: #283E49;
    color: white;
    text-align: left;
    padding-left: 5%;
    font-size: 10pt;
    color: white;
    font-weight: regular;
}


#github {
    background: url("../img/github_icon.png") no-repeat;
    background-position: 18em center;
    background-size: 40px;
    background-color: #24292D;
    color: white;
    text-align: left;
    padding-left: 5%;
    font-size: 10pt;
    color: white;
    font-weight: regular;
}
#enviar {
    background-color: #FFF;
    font-size: 10pt;
    font-weight: regular;
    color: #009EE3;
}

#enviar:hover {
    background-color: #009EE3;
    color: white;
  }

  #navegador li a:hover{
    background-color: #333333;
    color: #ffffff;
 }

  #enviar:active {
    background-color: #009EE3;
    color: #fff;
  }


#navegador li a:hover{
    background-color: #333333;
    color: #ffffff;
 }

#footerlist {
    display: block;
    width:25%;
}

#footerlist ul {
    display: inline-block;
    padding-right: 5%;
    list-style-type: none;
    text-align: left;
    margin-top: 3px;
    padding-left: 0px;
}

#footerlist li {
    display: inline-block;
    text-align: center;
}

#social {
    display: block;
    width: 25%;
}

#social ul {
    width: 100%;
    display: inline-block;
    padding-right: 5%;
    padding-left: 0px;
    list-style-type: none;
    text-align: center;
    margin-top: 3px;
}

#social li {
    display: inline-block;
    text-align:right;
}

#copyright {
   width: 48%;
   font-size: 9pt;
   color: white;
   font-weight: lighter;
   display: block;
   text-align: left;
   padding-left: 20px;
   }

#geekjobs_footer {
        margin-left: 4px;
        width: 50px;
        height: 30px;
    }

