@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif; 
}
header {
    display: flex;
    background: #009688;
    padding: 10px;
    text-align: center; 
}
header #logo {
    flex: 2; 
}
header #logo img {
    width: 125px;
    margin-left: 350px; 
}
header .menu {
    margin: auto 0;
    flex: 1; 
}
header .menu ul li {
    display: inline-block;
    margin: 5px 0 0 0;
    border: 2px dotted transparent;
    padding: 5px; 
}
header .menu ul li .active {
    color: #073539; 
}
header .menu ul li a {
    padding: 5px 10px;
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    font-weight: lighter; 
}
header .menu ul li a:hover {
    color: #073539;
    transition: color 200ms linear; 
}
body{
    margin: 0;
    padding: 0;
    font-size: 12pt;
    font-family: roboto, sans-serif;
    background-color: rgba(226,226,226,.84);
}
section{
    display: block;
    padding-top: 0px;
    margin: 0 auto;
    background-color: white;
    width: 900px;
}
footer {
    background-color: #073549;
    width: 100%;
    display: flex;
    padding: 10px; 
}
 #footerlist {
    width: 25%; 
}
#footerlist ul {
    display: inline-block;
    padding-right: 5%;
    list-style-type: none;
    text-align: left;
    margin-top: 3px;
    padding-left: 0px; 
}
#social {
    width: 25%; }
#social ul {
    width: 100%;
    padding-right: 5%;
    padding-left: 0px;
    list-style-type: none;
    text-align: center;
    margin-top: 3px; 
}
#social li {
    display: inline-block;
    text-align: right;
}
#copyright {
    width: 48%;
    font-size: 9pt;
    color: white;
    font-weight: lighter;
    display: block;
    text-align: left;
    padding-left: 20px; 
}
h1{
    margin:0;
    color:white;
    font-weight: bold;
    font-size: 60pt;
    padding-top: 100px;
   
}
a:visited {
    font-family: roboto, sans-serif;
    font-size: 11.5pt;
    color: #009EE3;
}
a{
    font-family: roboto, sans-serif;
    font-size: 12pt;
    color: #073549;
}
input[type='checkbox']{
    width: 15px;
    margin:0;

} 
#bot {
    background-color: #FFF;
    font-size: 10pt;
    font-weight: regular;
    color: #009EE3;
    width: 300px;
    height: 50px;
}
#bot:hover {
    background-color: #009EE3;
    color: white;
}
#navegador li a:hover{
    background-color: #333333;
    color: #ffffff;
 }
#bot:active {
    background-color: #009EE3;
    color: #fff;
}
#navegador li a:hover{
    background-color: #333333;
    color: #ffffff;
}

/*Clases particulares formulario registro*/
.section{
    margin:0 auto;
}
.welcome{
 background-color: #073549;
 color: white;
 text-align: left;
 padding-left:15px;
 padding-top: 15px;
 font-family: roboto, sans-serif;
 font-size: 20pt;
 padding-bottom: 15px;
 height: 700px;
 background-image:url("./assets/img/empresas.png");
 display: block;
}
.welcome a{
    text-decoration-line: none;
}
.welcome div:nth-last-of-type(2){
    width: 49.5%;
    display: inline-block;
}
.welcome div:nth-last-of-type(1){
    width: 49.5%;
    display: inline-block;
}
.formulario{
    width:578px;
    padding:5px;
    border:0px;
}
.formulario > div{
    width:100%;
    padding: 15px;
    margin-top: 5px;
    margin-right: auto;
    margin-left:auto;
}
.formulario input{
    width:100%;
    padding: 15px;
    border-radius: 5px;
    margin-top:16px;
    font-family: roboto;
    font-size: 10.5pt;
    height: 30px;
}
.formulario div:nth-last-of-type(1){
    text-align: center;
}
.box{
    display: block;
    width: 100%
}
.formulario .box > div{
    display: inline-block;
    width: 49.5%;
} 
#check{
    text-align: center;
    padding-bottom: 15px;
}
#btn{
    display: block;
    font-family: roboto;
    border: 0;
    background: #009688;
    border-radius: 4px;
    box-shadow: 0 5px 0 #073549;
    color: white;
    cursor: pointer;
    font: inherit;
    margin-left: auto;
    margin-right:auto; 
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
    text-decoration-line: none;
}
#btn:active {
    box-shadow: 0 2px 0 #073549;
    transform: translateY(3px);
}



