@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
body {
    background-color: rgba(226, 226, 226, .84);
    font-family: "Roboto", sans-serif;
}

.articlejosep {
    background-color: #073549;
    font-family: "Roboto", sans-serif;
    background-image: url(../img/rubia.png);
}


/*UNIFICAR ESTA CLASE*/

.letramarta {
    color: white;
    font-family: "Roboto", sans-serif;
}

.formul {
    background-color: white;
}

footer {
    background-color: #073549;
}

.articlemarta {
    background-color: #073549;
    font-family: "Roboto", sans-serif;
    background-image: url("../img/empresas.png");
}


/*UNIFICAR ESTA CLASE*/

.letramarta {
    color: white;
    font-family: "Roboto", sans-serif;
}

.formul {
    background-color: white;
}

footer {
    background-color: #073549;
}


/* =================================================== 
FOOTER BOOTSTRAP
=================================================== */

#gjFooter {
    color: white;
}

#gjFooter .footer-copyright {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#gjFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#gjFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#gjFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#gjFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#gjFooter a:hover,
#gjFooter a:focus {
    text-decoration: none;
    color: white;
}

#gjFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#gjFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#gjFooter .social-networks a:hover {
    text-decoration: none;
}

#gjFooter .facebook:hover {
    color: #0077e2;
}

#gjFooter .google:hover {
    color: #ef1a1a;
}

#gjFooter .twitter:hover {
    color: #00aced;
}

#gjFooter .btn {
    color: white;
    background-color: #4aadd4;
    /* #d84b6b */
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #gjFooter {
        text-align: center;
    }
}


/* =================================================== */